<div class="container app">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{title}}</h1>
        </div>
        <div class="col-sm-4">
            <div class="alert alert-success alert-dismissible" *ngIf="msg">
                <a href="#" class="close" (click)="closeAlert()">
                    &times;
                </a>
                {{msg}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
                 alt="">
        </div>
        <div class="col-sm-8">
            <h2>Crear persona</h2>
            <form>
                <div class="form-group row">
                    <label for="name" class="control-label col-sm-2">
                        Nombre
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name"
                               placeholder="Escribe un nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phoneNumber" class="control-label col-sm-2">
                        Nº de teléfono
                    </label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                               [(ngModel)]="model.phoneNumber"
                               placeholder="99999999">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-success" (click)="addPerson()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h2>Lectura de datos: </h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nº de telefono</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let person of people; let i = index">
                    <td>{{person.name}}</td>
                    <td>{{person.phoneNumber}}</td>
                    <td>
                        <a (click)="editPerson(i)" class="btn btn-warning">Editar</a>
                        <a (click)="deletePerson(i)" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4" [hidden]="hideUpdate">
            <h2>Actualizar persona: </h2>
            <form>
                <div class="form-group row">
                    <label for="name" class="control-label col-sm-2">
                        Nombre
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name"
                               placeholder="Escribe un nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phoneNumber" class="control-label col-sm-2">
                        Nº de teléfono
                    </label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                               [(ngModel)]="model2.phoneNumber"
                               placeholder="99999999">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-success" (click)="updatePerson()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
